<div>
    <div class="add">
        <p>+</p>
        <p>ADD NEW</p>
    </div>   
    <dialog id="mD">
        <a href="/add-item" class="no-select">Add Item</a>
        <a href="/add-folder" class="no-select">Add Folder</a>
    </dialog>
</div>
<script src="./javascripts/addscript.js"></script>
